# Gradle
.gradle/
build/
out/
bin/

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Runtime
run/
eclipse/

# Local
*.properties
.gradle.properties

# Logs
logs/
*.log

# System
.DS_Store
Thumbs.db

# Minecraft
.minecraft/
saves/
resourcepacks/
shaderpacks/